:root {
  // COLOURS
  --color-text: #333;
  --color-gray: #8492a6;
  --color-gray-light: #d3dce6;
  --color-white: #fff;
  --color-blue: #1fb6ff;
  --color-green: #13ce66;

  // BORDERS
  --border-sm: 1px solid var(--color-gray-light);
  --border-md: 2px solid var(--color-gray-light);

  --border-radius-md: 9px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  line-height: 1.6;
  min-width: 320px;
  color: var(--color-text);
}

main {
  margin: 8rem 0;
}

header,
section {
  padding: 2rem;
}

button {
  border: none;
  background-color: inherit;
  cursor: pointer;
}

li {
  list-style: none;
}
