.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: var(--border-md);
  position: fixed;
  top: 0;
  width: 100%;
  background-color: var(--color-white);
  z-index: 300;
}
